@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.app-container {
  background-image: url("./components/img/image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
}

.app-container h1 {
  color: white;
  padding-top: 20px;
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
}